//
main{
    padding: 40px 80px;

    .container{
        display: flex;
        flex-wrap: wrap;

        .pastaPoster{
            width: calc((100%/ 3) - 10px);
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}