//
@import 'color';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.big-container{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

header{
    text-align: center;
    padding-top: 40px;

    .header-nav{
        margin-top: 30px;

        &-item{
            display: inline-block;
            padding: 10px;

            a{
                color: $text-color-1;
                font-weight: bold;
            }
        }

        &-item:hover{
            background: $hover-color-1;
        }
    }
}

.homepage-main{
    padding: 40px 80px;
    background-image: url('../../public/images/main-background.jpg');

    h2{
        color: $text-color-2;
        padding-bottom: 10px;
    }

    .pasta-container{
        display: flex;
        flex-wrap: wrap;

        a{
            width: calc((100%/ 3) - 10px);
            margin-right: 10px;
            margin-bottom: 10px;

            img{
                width: 100%;
            }
        }
    }
}

.products-main{
    width: 100%;
    background: $background-color-1;
    text-align: center;
    padding: 40px 0 30px 0;

    h2{
        color: $text-color-2;
    }

    img{
        width: calc(100% - 40px);
    }

    .product-description{
        text-align: left;
        color: $text-color-2;
    }
}

footer{
    .footer-container{
        padding-top: 60px;
        display: flex;

        &-box{
            width: calc(100% / 3);
            color: $text-color-3;

            h2{
                margin-bottom: 20px;
            }

            .link{
                margin-bottom: 10px;

                a{
                    color: $text-color-3;
                }  
            }
            
        }
    }

    .footer-img{
        width: 100%;
        
        img{
            width: 100%;
        }
    }
}