* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.big-container {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  padding-top: 40px;
}
header .header-nav {
  margin-top: 30px;
}
header .header-nav-item {
  display: inline-block;
  padding: 10px;
}
header .header-nav-item a {
  color: #050505;
  font-weight: bold;
}
header .header-nav-item:hover {
  background: #b2e5fc;
}

.homepage-main {
  padding: 40px 80px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.homepage-main h2 {
  color: #002d73;
}
.homepage-main .pasta-container {
  display: flex;
  flex-wrap: wrap;
}
.homepage-main .pasta-container .pasta-poster {
  width: calc((100%/ 3) - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.products-main {
  width: 100%;
  background: #b7dae5;
  text-align: center;
  padding: 40px 0 30px 0;
}
.products-main h2 {
  color: #002d73;
}
.products-main img {
  width: calc(100% - 40px);
}
.products-main .product-description {
  text-align: left;
  color: #002d73;
}

footer .footer-container {
  padding-top: 60px;
  display: flex;
}
footer .footer-container-box {
  width: calc(100% / 3);
  color: #89929f;
}
footer .footer-container-box h2 {
  margin-bottom: 20px;
}
footer .footer-container-box .link {
  margin-bottom: 10px;
}
footer .footer-container-box .link a {
  color: #89929f;
}
footer .footer-img {
  width: 100%;
}
footer .footer-img img {
  width: 100%;
}
